<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Survicate</key>
	<dict>
		<key>WorkspaceKey</key>
		<string>468ca49669cd2fc7a49c65320b6e66ab</string>
	</dict>
</dict>
</plist>
